.js
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  svg
    margin: 40px 0 40px 0
  h3
    font-size: 1.2em
    margin: 0 0 40px 0

.bar
  margin: 0 auto
  width: 280px
  min-height: 10px
  background: $gradient
  -webkit-clip-path: polygon(0% 80%, 100% 0%, 100% 100%, 0% 100%)
  clip-path: polygon(0% 80%, 100% 0%, 100% 100%, 0% 100%)
  transition: all .3s ease-in-out
  align-self: flex-start
  position: relative
  overflow: hidden
  &-break
    font-size: 0.5em
    font-weight: 300
    width: 70px
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: -17px
      left: -1px
      height: 12px
      width: 1px
      border-right: 1px dotted $colorPlaceholder
    &:before
      content: ''
      position: absolute
      bottom: -17px
      left: -1px
      height: 12px
      width: 1px
      border-right: 1px solid #ffffff
      z-index: 10

    &-wrap
      display: flex
      align-items: flex-end
      margin:  0 0 10px 0
  &-hidden
    position: absolute
    top: 0
    left: 280px
    width: 100%
    height: 15px
    background: #ffffff
    transition: all .3s ease-in-out

  &-wrap
    margin: 0 0 100px 0
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 304px


body > form > div.js > div > div.bar-break-wrap > div:nth-child(4)::after
  left: 68px

body > form > div.js > div > div.bar-break-wrap > div:nth-child(3)::before
  bottom: -20px
  height: 7px
body > form > div.js > div > div.bar-break-wrap > div:nth-child(2)::before
  bottom: -20px
  height: 5px
body > form > div.js > div > div.bar-break-wrap > div:nth-child(1)::before,
body > form > div.js > div > div.bar-break-wrap > div:nth-child(4)::before
  display: none

.slider
    -webkit-appearance: none
    width: 100%
    height: 25px
    background: transparent
    outline: none
    border: none
    transition: all .3s ease-in-out


.slider::-webkit-slider-thumb
  -webkit-appearance: none
  appearance: none
  width: 25px
  height: 26px
  background: url("./assets/Rounded_Rectangle_4.svg") no-repeat
  //background: url("data:image/svg+xml; base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMyIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDIzIDI2Ij4KICAgIDxkZWZzPgogICAgICAgIDxjbGlwUGF0aCBpZD0ianZjb2EiPgogICAgICAgICAgICA8cGF0aCBmaWxsPSIjZmZmIgogICAgICAgICAgICAgICAgICBkPSJNMjIuNzkgMTQuODQ1YzAgNi4wNzEtNC45MjIgMTAuOTkzLTEwLjk5NSAxMC45OTNDNS43MjMgMjUuODM4LjggMjAuOTE2LjggMTQuODQ1YzAtNC4yMTQgMi4zNzMtNy44NyA1Ljg1NC05LjcxNWwzLjcxNC0zLjcxM2MuNzgtLjc4IDIuMDQ0LS43OCAyLjgyNCAwTDE2Ljg3NyA1LjFjMy41MTIgMS44MzUgNS45MTQgNS41MDYgNS45MTQgOS43NDR6Ii8+CiAgICAgICAgPC9jbGlwUGF0aD4KICAgIDwvZGVmcz4KICAgIDxnPgogICAgICAgIDxnPgogICAgICAgICAgICA8cGF0aCBmaWxsPSIjZmZmIgogICAgICAgICAgICAgICAgICBkPSJNMjIuNzkgMTQuODQ1YzAgNi4wNzEtNC45MjIgMTAuOTkzLTEwLjk5NSAxMC45OTNDNS43MjMgMjUuODM4LjggMjAuOTE2LjggMTQuODQ1YzAtNC4yMTQgMi4zNzMtNy44NyA1Ljg1NC05LjcxNWwzLjcxNC0zLjcxM2MuNzgtLjc4IDIuMDQ0LS43OCAyLjgyNCAwTDE2Ljg3NyA1LjFjMy41MTIgMS44MzUgNS45MTQgNS41MDYgNS45MTQgOS43NDR6Ii8+CiAgICAgICAgICAgIDxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2IwYjBiMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iNTAiCiAgICAgICAgICAgICAgICAgIHN0cm9rZS13aWR0aD0iMiIKICAgICAgICAgICAgICAgICAgZD0iTTIyLjc5IDE0Ljg0NWMwIDYuMDcxLTQuOTIyIDEwLjk5My0xMC45OTUgMTAuOTkzQzUuNzIzIDI1LjgzOC44IDIwLjkxNi44IDE0Ljg0NWMwLTQuMjE0IDIuMzczLTcuODcgNS44NTQtOS43MTVsMy43MTQtMy43MTNjLjc4LS43OCAyLjA0NC0uNzggMi44MjQgMEwxNi44NzcgNS4xYzMuNTEyIDEuODM1IDUuOTE0IDUuNTA2IDUuOTE0IDkuNzQ0eiIKICAgICAgICAgICAgICAgICAgY2xpcC1wYXRoPSJ1cmwoJnF1b3Q7I2p2Y29hJnF1b3Q7KSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+") no-repeat
  cursor: pointer
  transition: all .3s ease-in-out


.slider::-moz-range-thumb
  width: 25px
  height: 25px
  background: #4CAF50
  cursor: pointer

